*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  cursor: pointer;
  position: relative;
}

li::before {
  content: "";
  width: 0;
  height: 0;
  background-color: hsl(26, 100%, 55%);
  position: absolute;
  left: 0;
  bottom: -3rem;
  transition: all .3s linear;
}

li:hover::before {
  height: 20%;
  width: 100%;
}


body {
  font-size: 1rem;
  font-family: 'Kumbh Sans', sans-serif;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.container {
  max-width: 95%;
  max-height: 500px;
  margin: auto;
}

/* Header */
.header {
  display: flex;
  padding: 0.3rem .3rem .7rem;
  align-items: center;
  position: relative;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  margin-right: auto;
}

.menu {
  font-weight: 700;
  display: grid;
  place-items: center;
  margin: .8rem 1rem 0rem;
}

.hamburger-nav {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #000;
  padding: 1rem;
  width: 60%;
  z-index: 3;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.hamburger-links {
  margin-top: 1rem;
}

.hamburger-links li {
  margin: 1rem 0;
}

.laptop-nav {
  display: none;
}



/* Main */

.horizontal-ruler {
  display: none;
}

/* slider */
.slider {
  max-height: 18rem;
  overflow: hidden;
}

.btn-wrapper {
  position: absolute;
  top: 11.5rem;
  background-color: hsl(0, 0%, 100%);
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
}

.next {
  right: 1rem;
}

.prev {
  left: 1rem;
}

.section-btns {
  display: none;
}

.active-thumbnail {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 1rem;
  opacity: .5;
}

.thumbnail {
  cursor: pointer;
}

.thumbnail:hover {
  opacity: .7;
}

/* price */
.price {
  display: flex;
  margin: 1rem 0;
}

span {
  display: block;
  padding: 1rem;
  padding: 0;
}

.new-price {
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1rem;
}

.old-price {
  margin-left: auto;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  font-weight: 700;
}

.discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 0.3rem .5rem;
  border-radius: .3rem;
  font-weight: 700;
}

/* amount */
.amount {
  background-color: hsl(223, 64%, 98%);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 700;
  border-radius: .5rem;
}

.plus {
  cursor: pointer;
}

.minus {
  cursor: pointer;
  margin-top: .5rem;
}

.addCartBtn {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(26, 100%, 55%);
  margin: 1rem 0;
  border-radius: .5rem;
}


/* Cart */
.cart {
  color: hsl(219, 9%, 45%);
}

.cart-btn {
  cursor: pointer;
}

.cart-overlay {
  position: absolute;
  background-color: #fff;
  top: 4.3rem;
  left: 2.5%;
  width: 95%;
  height: 16rem;
  padding: 1rem;
  z-index: 1;
  border-radius: .6rem;
  box-shadow: 2px 2px 20px 1px hsl(220, 14%, 75%);
}

.cart-body {
  padding: 2rem 0 1rem;
}

.cart-img {
  border-radius: .3rem;
}

.cart-header {
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000;
}

.cart-info {
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
}

.delete-btn {
  font-size: 2rem;
}

.amount-in-cart {
  position: absolute;
  top: .1rem;
  right: 3rem;
  background-color: hsl(26, 100%, 55%);
  padding: 0 .5rem;
  border-radius: 50%;
  color: #fff;
}

.checkout {
  width: 100%;
  padding: 1rem;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  border: none;
  border-radius: .5rem;
  font-weight: 700;
}

.empty-cart {
  height: 12rem;
  display: grid;
  place-items: center;
}

/* Main info */

.main-info {
  padding: 1rem;
}


.company-name {
  color: hsl(26, 100%, 55%);;
}

.brand-name, .description, .price {
  padding: .5rem 0;
}


/* Laptop 1440 Media Query */


@media screen and (min-width: 1440px){
  img {
    border-radius: 1rem;
  }
  /* header */
  .menu {
    display: none;
  }
  .logo {
    margin-right: 0;
  }
  .laptop-nav {
    display: block;
    margin-right: auto;
  }
  .laptop-links {
    display: flex;
    margin-left: 1rem;
  }
  .laptop-links li {
    margin: 0 1rem;
    font-weight: 700;
    color: hsl(219, 9%, 45%);;
  }
  .avatar img {
    height: 3rem !important;
    width: 3rem !important;
  }
  .header {
    padding: 2rem;
  }
  /* main */
  .brand-name {
    font-size: 3rem;
  }
  .btn-wrapper {
    display: none;
    justify-content: center;
  }
  .main {
    display: flex;
    min-height: 60vh;
    padding: 7rem 0;
  }
  .main-info {
    padding: 0 8rem;
    margin: 0;
  }
  .body-wrapper {
    max-width: 80%;
    margin: auto;
  }
  .header {
    box-shadow: 0px 2px hsla(220, 14%, 75%, .4);
  }
  .old-price {
    min-width: 100%;
    padding-top: 1rem;
  }
  .price {
    flex-wrap: wrap;
  }
  .amount-btn-container {
    display: flex;
  }
  .amount {
    flex: 1;
  }
  .addCartBtn {
    flex: 2;
    margin: 0 2rem;
  }
  .slider {
    display: grid;
    grid-template-columns: 1fr;
    overflow: visible;
  }

  .close-popup-btn {
    padding: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }

  .section-btns {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .cart-item-brandName {
    width: 20rem;
  }
  .tripple-dot {
    display: none;
  }
  .cart-info {
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 1rem;
    grid-template-rows: 1fr 1fr;
  }
}